#title {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
#title > div > div {
  -webkit-text-stroke: 3px black;
  color: transparent;
  font-size: 5rem;
  transition: all 0.5s ease-in;
}
#title > div {
  transform: translate(-15%, -15%);
}
.text {
  display: flex;
}
.text > div:hover {
  animation: bounce 1s ease;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translateY(0);
    color: black;
  }
  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }
  30% {
    transform: scale(0.9, 1.1) translateY(-0.5em);
  }
  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }
  57% {
    transform: scale(1, 1) translateY(-7px);
  }
  64% {
    transform: scale(1, 1) translateY(0);
  }
  100% {
    transform: scale(1, 1) translateY(0);
  }
}
#img {
  position: absolute;
  top: 10%;
  right: 0;
  clip-path: circle(40%);
}
@media only screen and (max-width: 1564px) {
  #title > div > div {
    font-size: 4em;
  }
}
@media only screen and (max-width: 1250px) {
  #title > div > div {
    font-size: 3em;
  }
}
@media only screen and (max-width: 950px) {
  #title > div > div {
    font-size: 2.5em;
  }
}
@media only screen and (max-width: 750px) {
  #title > div > div {
    font-size: 2em;
  }
  #title > div {
    transform: none;
  }
  #title > div > div {
    font-size: 2em;
    -webkit-text-stroke: none;
  }
  .text > div {
    -webkit-text-stroke: none;
    font-size: 2rem;
  }
  #nav {
    display: none;
  }
  #title {
    transform: none;
    width: 100%;
  }
}
