#contact {
  color: #fff;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content ul,
.contact-header {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content ul li {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-content ul li img {
  width: 2em;
  height: 2em;
}
